In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.cluster import KMeans

In [14]:
df = pd.read_csv("olist_customers_dataset.csv")  # Load the dataset
df.head()

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [ ]:
df.dropna(inplace=True)  # Removes missing values
df.info()  # Displays dataset details

In [ ]:
kmeans = KMeans(n_clusters=3, random_state=42)
df['Cluster'] = kmeans.fit_predict(df[['feature1', 'feature2']])
df.head()

In [ ]:
sns.scatterplot(x=df['feature1'], y=df['feature2'], hue=df['Cluster'])
plt.show()

In [11]:
import os
print(os.getcwd())  # This prints the current working directory

C:\Users\PANDU SAGAR\OneDrive\Desktop\majorproject\E-Commerce\data

In [12]:
import os
print(os.listdir())  # Lists all files in the current directory

['.ipynb_checkpoints', 'olist_customers_dataset.csv', 'olist_geolocation_dataset.csv', 'olist_orders_dataset.csv', 'olist_order_items_dataset.csv', 'olist_order_payments_dataset.csv', 'olist_order_reviews_dataset.csv', 'olist_products_dataset.csv', 'olist_sellers_dataset.csv', 'product_category_name_translation.csv', 'Untitled.ipynb']

In [13]:
import pandas as pd

df = pd.read_csv("olist_customers_dataset.csv")  # Load the dataset
df.head()  # Display first 5 rows

,customer_id,customer_unique_id,customer_zip_code_prefix,customer_city,customer_state
0,06b8999e2fba1a1fbc88172c00ba8bc7,861eff4711a542e4b93843c6dd7febb0,14409,franca,SP
1,18955e83d337fd6b2def6b18a428ac77,290c77bc529b7ac935b93aa66c333dc3,9790,sao bernardo do campo,SP
2,4e7b3e00288586ebd08712fdd0374a03,060e732b5b29e8181a18229c7b0b2b5e,1151,sao paulo,SP
3,b2b6027bc5c5109e529d4dc6358b12c3,259dac757896d24d7702b9acbbff3f3c,8775,mogi das cruzes,SP
4,4f2d8ab171c80ec8364f7c12e35b23ad,345ecd01c38d18a9036ed96c73b8d066,13056,campinas,SP

In [ ]:
code = """
import streamlit as st
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

# Load dataset
df = pd.read_csv("olist_customers_dataset.csv", encoding="utf-8")

# Streamlit UI
st.title("üìä E-Commerce Customer Data Analysis")

st.write("Displaying the first 10 rows of the customer dataset:")
st.dataframe(df.head(10))  # Display first 10 rows

# Show dataset summary
if st.button("Show Dataset Summary"):
    st.write(df.describe())

# Show unique customers count
if st.button("Show Unique Customers Count"):
    unique_customers = df["customer_unique_id"].nunique()
    st.write(f"Total Unique Customers: {unique_customers}")

# Search by customer ID
st.subheader("üîç Search for a Customer by ID")
customer_id = st.text_input("Enter Customer ID:")

if customer_id:
    filtered_data = df[df["customer_id"] == customer_id]  # Filter dataset
    if not filtered_data.empty:
        st.write("üìå Customer Details:")
        st.dataframe(filtered_data)
    else:
        st.write("‚ö†Ô∏è No customer found with this ID.")

# üìä Visualization Section
st.subheader("üìä Data Visualizations")

# 1Ô∏è‚É£ Customers per state
st.write("### üó∫Ô∏è Customers Distribution by State")
plt.figure(figsize=(10,5))
sns.countplot(data=df, x="customer_state", order=df["customer_state"].value_counts().index, palette="viridis")
plt.xticks(rotation=45)
plt.xlabel("State")
plt.ylabel("Number of Customers")
plt.title("Number of Customers per State")
st.pyplot(plt)

# 2Ô∏è‚É£ Zip Code Frequency
st.write("### üìç Most Common Customer Zip Codes")
plt.figure(figsize=(10,5))
top_zipcodes = df["customer_zip_code_prefix"].value_counts().head(10)
sns.barplot(x=top_zipcodes.index, y=top_zipcodes.values, palette="mako")
plt.xlabel("Zip Code Prefix")
plt.ylabel("Number of Customers")
plt.title("Top 10 Most Common Customer Zip Codes")
st.pyplot(plt)

# 3Ô∏è‚É£ City-Wise Customer Distribution
st.write("### üåÜ Top 10 Cities with Most Customers")
plt.figure(figsize=(10,5))
top_cities = df["customer_city"].value_counts().head(10)
sns.barplot(x=top_cities.index, y=top_cities.values, palette="rocket")
plt.xticks(rotation=45)
plt.xlabel("City")
plt.ylabel("Number of Customers")
plt.title("Top 10 Cities with Most Customers")
st.pyplot(plt)
"""

# Save the file with UTF-8 encoding
with open("app.py", "w", encoding="utf-8") as f:
    f.write(code)

print("‚úÖ Updated app.py with graphs!")

In [2]:
import os
print(os.listdir())  # List all files in the current directory

['.ipynb_checkpoints', 'app.py', 'olist_customers_dataset.csv', 'olist_geolocation_dataset.csv', 'olist_orders_dataset.csv', 'olist_order_items_dataset.csv', 'olist_order_payments_dataset.csv', 'olist_order_reviews_dataset.csv', 'olist_products_dataset.csv', 'olist_sellers_dataset.csv', 'product_category_name_translation.csv', 'Untitled.ipynb']

In [ ]:
!streamlit run app.py